html {

	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	overflow: hidden;

	-webkit-text-size-adjust: 100%;
	-ms-touch-action: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;
}



body {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: helvetica;
	font-size: 10pt;
}


.drawing_canvas {
	position: absolute;
	z-index: -1;
}



.button {
	position: absolute;
	background-color: grey;
	border: none;
	border-radius: 5px;
}

.button:hover {
	background-color: dimgrey;
	border: none;
	border-radius: 5px;
}



.focused {
	background-color: khaki;
}

.focused:hover {
	background-color: darkkhaki;
}



.colorpicker {
	position: absolute;
	width: 256px;
	height: 80px;
	background-color: darkgrey;
}

canvas > div {
	position: absolute;
	background-color: white;
	width: 4px;
	left: 0px;
	top: 0px;
}




#toolsBox {
	left: 0px;
	top: 0px;
	min-width: 200px;
	position: absolute;
	background-color: black;
	border: none;
	border-radius: 10px;
}

#navBar {
	background-color: olive;
	width: 100%;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
	border: none;
	border-radius: 5px;
}

input {
	position: absolute;
}

#selectedArea {
	position: absolute;
	border: 4px dotted black;
	animation-name: selectedArea;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes selectedArea {
  from {
  	border-style: dotted;
  }
  to {
  	border-style: solid;
  }
}